<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="../static/main.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <!-- Fonts -->

   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300" rel="stylesheet">

    <!-- Effects -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


    <!-- Scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

    <title>My Shelter</title>
  </head>
<body>
  <div class="container">
    <h1>
      Welcome {{name}}!  <a href="logout" class="btn btn-default">Log out</a>
    </h1>
  </div>

  <div class="container">

    <table class="table table-bordered">
      <tbody>
        {% for matrix_row in matrix %}
        <tr>
          {% for rfid, adopted, image in matrix_row %}
          <td>
            <img class="adminPic" src="../static/{{image}}" alt ="dog image">
            <br><br>
            <form action="admin.html" method="POST">
              <div class="form-group">
                <label for="rfidField"> RFID Value </label>
                <input type="text" class="form-control" name="new_rfid" id="rfidField" value="{{rfid}}"><br>
                <input type="hidden" name="original_rfid" value="{{rfid}}">
                <button type="submit" class="btn btn-default" name="submit"> Modify </button>
              </div>
            </form>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>